.navbar-nav{
        color:#84a35d;
}
.navbar li{
        padding:5px;
        color: #84a35d;
        font-weight: 200;
        text-align:center;
}


.navbar-text{
        text-align:center;
        font-weight: 700 !important;
        padding: 0 40px;
        color: #3a5528 !important;
        margin: 0 auto; 
}


